// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

body {
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 18px;
    margin: 33px;
}

h1{
  font-weight: bold;
  font-size: 26px;
  color: #333;
}

strong {
  font-weight: bold;
  color: #333;
}

p{
  margin: 33px;
  font-size: 13px;
  color: #333;
}